.pp_bookmark_hiddenButton {
    width: 32px;
    height: 32px;
    position: absolute;
    opacity: 0 !important;
    overflow: hidden;
}

.pp_bookmark_hiddenButton > div {
    padding: 0px !important;
}

button.pp_bookmark_button[aria-pressed='false'] .vote-icon-fill {
    display: none;
}

button.pp_bookmark_button[aria-pressed='true'] .vote-icon-outline {
    display: none;
}
